.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

.App-header {
  background-color: #112b5f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(99, 62, 62);
}

.App-link {
  color: #00bcf0;
}
body {
  padding: 50px;
  background-color: #cce4f0;
  font-family: sans-serif;

}